@charset "utf-8";

/* 로고쪽 슬라이드 영역 */
/* .main_logo_slide {
    top: 50%;
    margin-top: -145px;
}
.main_logo_slide > ul > li {
    margin-right: 220px;
}
.main_logo_slide > ul > li:first-child {
    width: 202px;
    height: 133px;
}
.main_logo_slide > ul > li:nth-child(2) {
    width: 157px;
    height: 202px;
    padding-bottom: 133px;
    box-sizing: content-box;
} */
.main_logo_slide > ul {
    height: calc(100% - 155vh);
}
.main_logo_slide > ul > li:first-of-type {
    left: auto;
    right: 0;
}
.main_logo_slide > ul > li:nth-of-type(2) {
    left: 0;
}
.main_logo_slide > ul > li:nth-of-type(3) {
    left: auto;
    right: 0;
}
.main_logo_slide > ul > li:first-of-type img{ 
    width: 202px;
}
.main_logo_slide > ul > li:nth-of-type(2) img{ 
    width: 157px;
}
.main_logo_slide > ul > li:nth-of-type(3) img{ 
    width: 157px;
}